In this challenge, you are tasked with helping a small, rural town modernize its vote-counting process. (Up until now, Uncle Cleetus had been trustfully tallying them one-by-one, but unfortunately, his concentration isn't what it used to be.)

You will be give a set of poll data called election_data.csv. The dataset is composed of three columns: Voter ID, County, and Candidate. Your task is to create a Python script that analyzes the votes and calculates each of the following:


#The total number of votes cast


#A complete list of candidates who received votes


#The percentage of votes each candidate won


#The total number of votes each candidate won


#The winner of the election based on popular vote.




As an example, your analysis should look similar to the one below:


#In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [1]:
#Import Dependencies

import pandas as pd

In [2]:
# Load in File from folder

file = '03-Python_homework_assignment_PyPoll_Resources_election_data (1).csv'

In [3]:
# Read and display with pandas

poll_df = pd.read_csv(file)
poll_df.head(3)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan

In [4]:
#A complete list of candidates who received votes
list_cand = poll_df["Candidate"].unique()

print(list_cand)

['Khan' 'Correy' 'Li' "O'Tooley"]

In [5]:
#The total number of votes each candidate won
votes = poll_df["Candidate"].value_counts()
votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [6]:
#The percentage of votes each candidate won- find the total
total = len(poll_df)
total

3521001

In [9]:
#create table with information so far
summary_df = [{
    "Votes": votes,
    "Total": total
}]
print(summary_df)

[{'Votes': Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64, 'Total': 3521001}]

In [8]:
#The number of votes each candidate won
grouped_df = poll_df.groupby(['Candidate'])
grouped_df.count().head()

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [14]:
#percentage continued
percentage_df = poll_df
percentage_df['Votes'] = poll_df["Candidate"].value_counts()
percentage_df['percentage'] = poll_df['Votes'] / poll_df['AllVotes']
percentage_df.head()

   Voter ID County Candidate  AllVotes  Votes  percentage
0  12864552  Marsh      Khan   3521001    NaN         NaN
1  17444633  Marsh    Correy   3521001    NaN         NaN
2  19330107  Marsh      Khan   3521001    NaN         NaN
3  19865775  Queen      Khan   3521001    NaN         NaN
4  11927875  Marsh      Khan   3521001    NaN         NaN

In [10]:
#The winner of the election based on popular vote.
grouped_df["AllVotes"].max()

Candidate
Correy      3521001
Khan        3521001
Li          3521001
O'Tooley    3521001
Name: AllVotes, dtype: int64

In [11]:
#Use conditions to create a column with counts for each candidate
cond = (poll_df["Candidate"] == 'Khan')
cols = ["Candidate", "Total Votes"]
khan_df = poll_df.loc[cond, cols]


khan_df["Khan_Total"] = len(khan_df)
khan_df.head()

C:\Users\allys\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

  Candidate  Total Votes  Khan_Total
0      Khan          NaN     2218231
2      Khan          NaN     2218231
3      Khan          NaN     2218231
4      Khan          NaN     2218231
7      Khan          NaN     2218231

In [11]:
#In addition, your final script should both print the analysis to the terminal and export a text file with the results.