In this challenge, you are tasked with creating a Python script for analyzing the financial records of your company. You will give a set of financial data called budget_data.csv. The dataset is composed of two columns: Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting so the records are simple.)

Your task is to create a Python script that analyzes the records to calculate each of the following:

*The total number of months included in the dataset

*The net total amount of "Profit/Losses" over the entire period

*The average of the changes in "Profit/Losses" over the entire period

*The greatest increase in profits (date and amount) over the entire period

*The greatest decrease in losses (date and amount) over the entire period


In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [1]:
#Import Dependencies

import pandas as pd

In [2]:
# Load in File from folder

file = '03-Python_homework_assignment_PyBank_Resources_budget_data.csv'

In [3]:
# Read and display with pandas

bank_df = pd.read_csv(file)
bank_df.head(3)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [4]:
#The total number of months included in the dataset
count = bank_df["Date"].count()
count

86

In [5]:
#The net total amount of "Profit/Losses" over the entire period
sum = bank_df["Profit/Losses"].sum()
sum

38382578

In [6]:
#The average of the changes in "Profit/Losses" over the entire period
average = bank_df["Profit/Losses"].mean()
average

446309.0465116279

In [7]:
#The greatest increase in profits (date and amount) over the entire period- find the maximum
maximum = bank_df["Profit/Losses"].max()
greatestincrease = maximum
greatestincrease

1170593

In [10]:
#The greatest increase in profits (date and amount) over the entire period- print row with the maximum
for row in bank_df:
    if row[0] == greatestincrease:
        print(row[0])

In [12]:
#The greatest decrease in losses (date and amount) over the entire period- find the minimum
minimum = bank_df["Profit/Losses"].min()
greatestdecrease = minimum
greatestdecrease

-1196225

In [14]:
#The greatest increase in profits (date and amount) over the entire period- print row with the minimum
for row in bank_df:
    if row[0] == greatestdecrease:
        print(row[0])

In [21]:
#export a text file with the results
results_df = {
    "Total Months": count,
    "Profit/Losses Net": sum,
    "Profit/Losses Avg": average,
    "Greatest Increase": greatestincrease,
    "Greatest Decrease": greatestdecrease
}

print(results_df)

{'Total Months': 86, 'Profit/Losses Net': 38382578, 'Profit/Losses Avg': 446309.0465116279, 'Greatest Increase': 1170593, 'Greatest Decrease': -1196225}